{% extends "base.html" %}
{% block content %}
<h1></h1>
<ul class="pull-left clearfix">
    <li>
        <h2>Archives</h2></li>
    <li>
        <ul>
            <li><h3><a href="/board/b">/b/ - Random</a></h3></li>
            <li><h3><a href="/board/mago">/mago/ - Falha e Aleatoriedade</a></h3></li>
            <li><h3><a href="/board/mod">/mod/ - Moderação</a></h3></li>
            <li><h3><a href="/board/int">/int/ - International</a></h3></li>
            <li><h3><a href="/board/an">/an/ - Assuntos Nipônicos</a></h3></li>
            <li><h3><a href="/board/sfc">/sfc/ - Sfchan</a></h3></li>
            <li><h3><a href="/board/jo">/jo/ - Jogos</a></h3></li>
            <li><h3><a href="/board/lan">/lan/ - Online Multiplayer</a></h3></li>
            <li><h3><a href="/board/mu">/mu/ - Música</a></h3></li>
            <li><h3><a href="/board/hq">/hq/ - Cartoons & Comics</a></h3></li>
            <li><h3><a href="/board/tv">/tv/ - Televisão</a></h3></li>
            <li><h3><a href="/board/lit">/lit/ - Literatura</a></h3></li>
            <li><h3><a href="/board/comp">/comp/ - Computaria em geral</a></h3></li>
            <li><h3><a href="/board/cri">/cri/ - Criação</a></h3></li>
            <li><h3><a href="/board/lang">/lang/ - Idiomas</a></h3></li>
            <li><h3><a href="/board/macgyver">/macgyver/ - DIY, gambiarras e projetos</a></h3></li>
            <li><h3><a href="/board/pfiu">/pfiu/ - Automóveis</a></h3></li>
            <li><h3><a href="/board/coz">/coz/ - Culinária</a></h3></li>
            <li><h3><a href="/board/UF55">/UF55/ - Universidade Federal do 55chan</a></h3></li>
            <li><h3><a href="/board/$">/$/ - Finanças</a></h3></li>
            <li><h3><a href="/board/pol">/pol/ - Politicamente Incorreto</a></h3></li>
            <li><h3><a href="/board/sancti">/sancti/ - Religiões e Teologia</a></h3></li>
            <li><h3><a href="/board/yt">/yt/ - yt</a></h3></li>
            <li><h3><a href="/board/1997">/1997/ - 1997</a></h3></li>
            <li><h3><a href="/board/esp">/esp/ - Esportes</a></h3></li>
            <li><h3><a href="/board/high">/high/ - high</a></h3></li>
            <li><h3><a href="/board/clô">/clô/ - Viadices</a></h3></li>
            <li><h3><a href="/board/escorio">/escoria/ - Buseta e Depressão</a></h3></li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        <h2>Boards</h2></li>
    <li>
        <ul>
            <li>
                <h3><a href="https://archived.moe/de/">/de/ <span class="help">Degenerates</span></a></h3></li>
            <li>
                <h3><a href="https://archived.moe/rp/">/rp/ <span class="help">Roleplay</span></a></h3></li>
            <li>
                <h3><a href="https://archived.moe/talk/">/talk/ <span class="help">Discussions</span></a></h3></li>
        </ul>
    </li>
</ul>
<ul>
    <li>
        <h2>Articles</h2></li>
    <li>
        <ul>
            <li>
                <h3><a href="https://archived.moe/_/articles/dmca/">DMCA</a></h3></li>
            <li>
                <h3><a href="https://archived.moe/_/articles/faq/">Frequently Asked Questions</a></h3></li>
        </ul>
    </li>
</ul>
{% endblock %}